{% extends 'partial/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
           <div class="col-sm-12 center">
               <h1>Home Content</h1>

                <form action="/dd" method="POST" enctype = "multipart/form-data">
                    <input type="submit" value="Load DrillDown">
                </form>

                <form action="/process" method="POST" enctype = "multipart/form-data">
                    <br><br>
                    <input type="text" name="input_one">
                    <br><br>
                    <input type="submit">
                </form>
           </div>
        </div>
    </div>

{% endblock %}
